<form *ngIf="this.userForm" [formGroup]="this.userForm">
  <h4>Modificar datos de usuario</h4>
  <label for="nombre">Nombre</label> <input type="text" placeholder="Nombre" name="nombre" formControlName="nombre"/>
  <label for="dni">DNI</label> <input type="string" placeholder="DNI/NIE" name="DNI" formControlName='dni'/>
  <label for="email">eMail</label> <input type="email" placeholder="eMail" name="email" formControlName='email'/>
  <label for="tlf">Tlf</label> <input type="tel" placeholder="tlf" name="tlf" formControlName='tlf'/>
  <label for="Fototipo">Fototipo</label>
  <select required formControlName="fototipo">
    <option selected value="init" disabled>Selecciona</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
    <option>D</option>
    <option>E</option>
    <option>F</option>
  </select>
  <button (click)="guardarUsuario(this.userForm)">Guardar Usuario</button>
</form>
