<div id="listasesiones" *ngIf="this.listaSesiones; else listaError">
  <h2>Lista de sesiones</h2>

  <div class="statics">
    <label>Energia acumulada</label>
    <meter min='0' max='1000' [(value)]="this.acumulatedEnergy"></meter> <span>{{this.acumulatedEnergy}}</span>KJ
  </div>

  <ul>
    <li *ngFor="let item of this.listaSesiones">
      <h4>Fecha: <span>{{ item.fecha | date:'short'}}</span></h4>
      <h4>Energia: <span>{{ item.energia}}</span>KJ</h4>
      <h4>Duracion: <span>{{ item.duracion}}</span> min</h4>
      <h4>Solario: <span *ngIf="this.empresa">{{ item.solario | getSolarioName:this.empresa }}</span></h4>
      <h4>Operario: <span *ngIf="this.empresa">{{ item.operario | getOperarioName:this.empresa }}</span></h4>
    </li>
  </ul>
</div>

<ng-template #listaError>
  <div id="listasesiones">
    <h3>No hay lista de sesiones</h3>
  </div>
</ng-template>
