#listaUsuariosComponent {
  display: block;
  position: fixed;
  width: 33%;
  right: -30%;
  top: 0px;
  background-color: white;
  opacity: 1;
  height: 100%;
  border-left: 1px solid #000;
  padding-left: 8px;
}

#listaUsuariosComponent.show {
  right: 0;
  transition: right 00.4s linear;
}

#listaUsuariosComponent {
  right: -30%;
  transition: right 00.4s linear;
}

/*
#listaUsuariosComponent.show {
  animation: slideout 0.4s forwards;
}

#listaUsuariosComponent.hide {
  animation: slidein 0.4s forwards;
}
*/
@keyframes slidein {
  from {
    right: 0;
    opacity: 1;
  }

  to {
   right: -30%;
    opacity: 0;
  }
}

@keyframes slideout {
  from {
   right: -30%;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }

}
