#listaUsuariosComponent {
  display: block;
  position: fixed;
  width: 33%;
  right: -30%;
  top: 0px;
  background-color: white;
  opacity: 1;
  height: 100%;
  border-left: 1px solid #000;
  padding-left: 8px;
}

#listaUsuariosComponent.show {
  right: 0;
  transition: right 00.4s linear;
}

#listaUsuariosComponent {
  right: -30%;
  transition: right 00.4s linear;
}

#hide_button {
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 20px;
}
