#register_empresa {

}

#register_empresa label, #register_empresa input {
  display: block;
}

#register_empresa input {
  display: block;
  margin-bottom: 20px;
}

#register_empresa_ok { display: none;}
#register_empresa_ok.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

div#register_empresa_ok:before {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: url('/assets/email.png');
  background-position: 50% bottom;
}

#register_empresa_ok * {
  margin: auto;
  text-align: center;
}