.popup_window.show:before {
    position: fixed;
    content: " ";
    background-color: #1118;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
    backdrop-filter: opacity(1.5) blur(1px);
}