<div>

  <h2>Usuario <span class="nombre">{{ this.usuario?.nombre }}</span></h2>

  <app-gestion-sesiones [usuario]="this.usuario" [empresa]="this.empresa"></app-gestion-sesiones>
  <app-lista-bonos [user]="this.usuario" (sendReload)="reloadEvent($event)"></app-lista-bonos>
  <app-form-bonos [user]="this.usuario" (sendReload)="reloadEvent($event)"></app-form-bonos>

  <app-form-usuario
    [selectedUser]="this.usuario"
    (usuario)="guardarUsuario($event)">
  </app-form-usuario>

  <div>
    <label>Fecha de Registro</label>
    <span *ngIf="this.usuario!=undefined">{{this.usuario.fechaRegistro | date: 'short'}}</span>
  </div>

  <div>
    <h3>Eliminar usuario</h3>
    <button (click)="eliminarUsuario()">Eliminar Usuario</button>
  </div>

</div>
