<h3>Lista de sesiones</h3>

<h3>Bonos activos + crear bono nuevo</h3>
<app-lista-bonos [usuario]="this.usuario"></app-lista-bonos>
<app-form-bonos [user]="this.usuario"></app-form-bonos>

<h3>Añadir sesion de usuario</h3>

<app-form-usuario
  [selectedUser]="this.usuario"
  (usuario)="guardarUsuario($event)">
</app-form-usuario>

<label>Fecha de Registro</label>
<span *ngIf="this.usuario!=undefined">{{this.usuario.fechaRegistro}}</span>

<div>
  <h3>Eliminar usuario</h3>
  <button (click)="eliminarUsuario()">Eliminar Usuario</button>
</div>
