<div>
  <form [formGroup]="this.bonoForm">
    <h4>Crear nuevo bono de sesiones</h4>

    <div>
      <label>Usuario</label>
      <span class="user_name">{{ this.user?.nombre||"No seleccionado"}}</span>
      <input *ngIf="this.user" type="hidden" [(ngModel)]="this.user._id" [formControlName]="'idusuario'"/>
      <button [disabled]="this.user" (click)="selectUser()">Selecciona Usuario</button>
    </div>

    <div>
      <label for="value">Cantidad</label>
      <input type="spin" placeholder="Cantidad" name="value" [formControlName]="'cantidad'"/>
    </div>

    <div>
      <label for="date">Fecha limite</label>
      <input type="date" placeholder="Fecha" name="date" [formControlName]="'fecha'">
    </div>

    <div>
      <label for="tipobono">Tipo de Bono</label>
      <select required="tipobono" [formControlName]="'tipobono'">
        <option>MINUTOS</option>
        <option>SESIONES</option>
      </select>
    </div>

    <button [disabled]="bonoForm.invalid" (click)="guardarBono()">Guardar Bono</button>
  </form>
</div>
