 
#gestion_empresa.loginerror {
  color:  #F55;
}
 
div#gestion_empresa.loginerror {
  text-align: center;
}
 
#gestion_empresa.loginok {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 1em;
 }
 
#empresa_header {
  flex: 4 0 100%;
}
 
#empresa_navigation_bar {
  flex: 1 0 24%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#main_content_empresa {
  flex: 3 1 75%;
  margin-top: 4em;
}
 
#reload_button {
position: relative;
  top: 2em;
  padding: 17px;
  background-color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
 
 
div#gestion_empresa li {
  list-style: none;
  margin: 10px 0;
}

div#gestion_empresa li a {
  text-decoration: none;
}


@media (max-width: 991px) {
  #empresa_navigation_bar .navbar-nav.mr-auto a {
    color: #b0b0b0;
  }
}

@media (min-width: 992px) {
  #empresa_navigation_bar .navbar-nav.mr-auto a {
    color: #404040;
  }
  #empresa_navigation_bar li {
    margin-bottom: 1em;
  }
  #gestion_empresa.loginok {
    float: right;
    width: calc(100% - 20em);
  }

  #empresa_navigation_bar .collapse.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(20em);
    float: left;
    margin-top: 5em;
    display: flex;
    flex-flow: column nowrap;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    margin-left: 1em;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}