<div *ngIf="this.empresa == undefined; else empresa_loaded">
  <h4>Error al cargar los datos de la empresa</h4>
  <span>{{this.error}}</span>
</div>


<ng-template #empresa_loaded>

  <h4>Panel de Empresa <span>{{this.empresa.nombre}}</span></h4>

  <nav>
    <ul>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['edit']}}]">Editar Empresa</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['add-usuario']}}]">Añadir usuario</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['usuarios']}}]">Gestion usuarios</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['add-sesion']}}]">Nueva sesion</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['add-bono']}}]">Nuevo Bono</a></li>
      <li><a href="#" [routerLink]="[{outlets: {secondary: ['historico']}}]">Historico de estados</a></li>
    </ul>
  </nav>

  <router-outlet name="secondary"></router-outlet>

</ng-template>
