#gestion_empresa.loginerror {
  color:  red;
}

#gestion_empresa.loginok {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#empresa_header {
  flex: 4 0 100%;
}

#empresa_navigation_bar {
  flex: 1 0 24%;
}

#main_content {
  flex: 3 1 75%;
}

