#gestion_empresa.loginerror {
  color:  #F55;
}

div#gestion_empresa.loginerror {
  text-align: center;
}

#gestion_empresa.loginok {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#empresa_header {
  flex: 4 0 100%;
}

#empresa_navigation_bar {
  flex: 1 0 24%;
}

#main_content {
  flex: 3 1 75%;
}

#reload_button {
  position: relative;
  top: 2em;
  padding: 17px;
  background-color: aliceblue;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

div#gestion_empresa ul {

}

div#gestion_empresa li {
  list-style: none;
  margin: 10px 0;
}

div#gestion_empresa li a {
  text-decoration: none;
}
