<div *ngIf="this.empresa == undefined; else empresa_loaded">
  <h4>Error al cargar los datos de la empresa</h4>
  <span>{{this.error}}</span>
</div>


<ng-template #empresa_loaded>

  <h4>Panel de Empresa <span>{{this.empresa.nombre}}</span></h4>

  <nav>
    <ul>
      <li><a href="#" [routerLink]="['edit']">Editar Empresa</a></li>
      <li><a href="#" [routerLink]="['add-usuario']">Añadir usuario</a></li>
      <li><a href="#" [routerLink]="['lista-usuarios']">Lista usuarios</a></li>
      <li><a href="#" [routerLink]="['add-sesion']">Nueva sesion</a></li>
      <li><a href="#" [routerLink]="['add-bono']">Nuevo Bono</a></li>
    </ul>
  </nav>

  <app-gestion-usuarios [inEmpresa]="this.empresa"></app-gestion-usuarios>

  <app-gestion-solarios [inSolarios]=(this.empresa.solarios)
    (outReload)="this.reloadEmpresa($event)"></app-gestion-solarios>

  <app-gestion-operarios [inOperarios]=(this.empresa.operarios)
  (outReload)="this.reloadEmpresa($event)"></app-gestion-operarios>

  <app-edit-empresa></app-edit-empresa>

  <div>
    <h4>Histórico de estados</h4>
    <ul>
      <li *ngFor="let item of this.empresa.historicoEstados">item</li>
    </ul>
  </div>

</ng-template>
